html, body, #root {
  height: 100%;
  margin: 0;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  overflow-y: auto;
}

footer {
  flex-shrink: 0;
}

a {
  color: #727e86;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

section {
  margin-top: 0;
  margin-bottom: 0;
}

footer section {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner__header {
  position: absolute;
  z-index: 5;
  right: 0;
  top: 42px;
  height: 98px;
  width: 487px;
  font-weight: bold;
  font-size: 48px;
  line-height: 98px;
  text-align: center;
  color: #fff;
  background: linear-gradient(270deg, rgba(161, 179, 191, 0.8) 72.59%, rgba(161, 179, 191, 0) 98.05%);
}

.top-sales {
  min-height: 300px;
}

.catalog {
  min-height: 600px;
}

.catalog__categories .nav-link {
  cursor: pointer;
}

.catalog__categories .nav-link.active {
  color: #f00;
}

.catalog-item {
  margin-bottom: 1em;
}

.catalog-item__size {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

.catalog-item__size_active {
  background: #727e86;
  border-radius: 15px;
  color: #fff;
}

.catalog__search {
  margin-bottom: 2em;
}

/* Кнопки */
.btn-outline-primary {
  color: #727e86;
  border-color: #727e86;
}

.btn-outline-primary:hover {
  background-color: #727e86;
  border-color: #727e86;
}

/* Хедер */
.header__controls {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__cart {
  position: relative;
}

.header__cart-badge {
  position: absolute;
  right: -10px;
  top: -5px;
  height: 21px;
  width: 21px;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: linear-gradient(90deg, #ff65a5 1.11%, #ff8076 100%);
}

.footer {
  padding: 10px 25px;
}

.footer__pay-system {
  width: 46px;
  height: 28px;
  background-color: #fff;
  border-radius: 4px;
  background-image: url(/img/footer-sprite.png);
  background-repeat: no-repeat;
}

.footer__pay-system_visa { background-position: -104px -8px; }
.footer__pay-system_mastercard { background-position: -54px -8px; }
.footer__pay-system_mir { background-position: -2px -46px; }
.footer__pay-system_sber { background-position: -2px -6px; }

.footer__social-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  border-radius: 50%;
  background-image: url(/img/footer-sprite.png);
  background-repeat: no-repeat;
}

.footer__social-link_twitter { background-position: -107px -42px; }
.footer__social-link_vk { background-position: -157px -42px; }